<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <div class="px-6 py-4">
    <h2 class="text-3xl font-bold">New report</h2><hr>
  </div>

  <div class="px-6 py-4">
    <%= render "form", report: @report %>

    <div class="mt-8 flex justify-between items-center">
      <%= link_to "Back to reports", reports_path, class: "text-blue-500 hover:underline" %>
      <%= link_to "Cancel", reports_path, class: "text-gray-500 hover:underline" %>
    </div>
  </div>
</div>
